{#
Copyright 2023 New Vector Ltd

SPDX-License-Identifier: AGPL-3.0-or-later

#}

apiVersion: matrix.element.io/v1alpha1
kind: MatrixContentScanner
metadata:
  name: "{{ ansible_operator_meta.name }}"
  namespace: "{{ ansible_operator_meta.namespace }}"
  annotations:
    k8s.element.io/secretshash: "{{ lookup('template', 'matrix_content_scanner/secrets.yaml.j2') | hash('sha1') }}"
  labels:
    app.kubernetes.io/managed-by: element-updater
spec:
  image:
    {{ lookup('template', 'templates/any/k8s-image.yaml.j2', template_vars={'_subcomponent':'matrix_content_scanner'})
      | regex_replace('image:', 'matrixContentScanner:') | indent(4) }}
    {{ lookup('template', 'templates/any/k8s-image.yaml.j2', template_vars={'_subcomponent':'clam_anti_virus'})
      | regex_replace('image:', 'clamAntiVirus:') | indent(4) }}
    {{ lookup('template', 'templates/any/k8s-image.yaml.j2', template_vars={'_subcomponent':'icap'})
      | regex_replace('image:', 'icap:') | indent(4) }}
  workloads:
    {{ lookup('template', 'templates/any/k8s-workloads.yaml.j2', template_vars={'_subcomponent':'matrix_content_scanner'})
      | regex_replace('workloads:', 'matrixContentScanner:') | indent(4) }}
    {{ lookup('template', 'templates/any/k8s-workloads.yaml.j2', template_vars={'_subcomponent':'clam_anti_virus'})
      | regex_replace('workloads:', 'clamAntiVirus:') | indent(4) }}
  service:
    {{ lookup('template', 'templates/any/k8s-services.yaml.j2') | indent(4) }}
  config:
    matrixContentScanner:
      {{ lookup('template', 'templates/any/k8s-config.yaml.j2', template_vars={'_subcomponent':'matrix_content_scanner'}) | indent(6) }}
    clamAntiVirus:
      {{ lookup('template', 'templates/any/k8s-config.yaml.j2', template_vars={'_subcomponent':'clam_anti_virus'}) | indent(6) }}
      volumeClaim: {{ ansible_operator_meta.name }}-matrix-content-scanner
    icap:
      {{ lookup('template', 'templates/any/k8s-config.yaml.j2', template_vars={'_subcomponent':'icap'})
       | from_yaml
       | ansible.utils.remove_keys(target=['podSecurityContext'])
       | to_nice_yaml(indent=2)
       | indent(6) }}
    {{ lookup('template', 'templates/any/k8s-host-aliases.yaml.j2') | indent(4) }}
    externalSecret:
      name: {{ ansible_operator_meta.name }}-matrix-content-scanner-secrets
    matrixServer:
      baseUrl: https://{{ components.synapse.k8s.ingress.fqdn }}
      serverName: {{ _global.config.domain_name }}
{% if 'allowed_mimetypes' in components.matrix_content_scanner.config.scanning %}
    scanning:
      allowedMimetypes: {{ components.matrix_content_scanner.config.scanning.allowed_mimetypes | to_json }}
{% endif %}
    caching:
      maxSize: {{ components.matrix_content_scanner.config.caching.cache_size }}
      ttl: "{{ components.matrix_content_scanner.config.caching.ttl }}"
{% if components.matrix_content_scanner.config.caching.max_file_size | default(false) %}
      maxFileSize: "{{ components.matrix_content_scanner.config.caching.max_file_size }}"
{% endif %}
      persistentVolumeClaimTemplate:
        size: {{ components_k8s_properties.matrix_content_scanner.storage.size }}
        storageClassName: {{ components_k8s_properties.matrix_content_scanner.storage.storage_class_name | default(_global.k8s.storage.storage_class_name) }}
{% if 'selector' in components_k8s_properties.matrix_content_scanner.storage %}
        selector:
          {{ components_k8s_properties.matrix_content_scanner.storage.selector | to_nice_yaml(indent=2) | indent(10) }}
{% endif %}
    download:
      additionalHeaders:
        user-agent: "matrix-content-scanner"
