{#
Copyright 2023-2024 New Vector Ltd

SPDX-License-Identifier: AGPL-3.0-or-later

#}

{{ lookup('template', 'templates/any/pvc.yaml.j2', template_vars={'_component_item': _component_item, '_subcomponent': 'clam_anti_virus'}) }}
