{#
Copyright 2023 New Vector Ltd

SPDX-License-Identifier: AGPL-3.0-or-later

#}

apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ ansible_operator_meta.name }}-matrix-content-scanner-config"
  namespace: "{{ ansible_operator_meta.namespace }}"
  labels:
    app.kubernetes.io/managed-by: element-operator
    app.kubernetes.io/name: matrix-content-scanner
    app.kubernetes.io/instance: "{{ ansible_operator_meta.name }}-matrix-content-scanner"
    app.kubernetes.io/version: "{{ image.matrix_content_scanner.tag }}"
    app.kubernetes.io/part-of: matrix-stack
    app.kubernetes.io/component: matrix-content-scanner
data:
  config.yaml: |
    {{ _matrix_content_scanner_config | indent(4) }}
  virusScan.sh: |
    {{ lookup('file', 'files/virusScan.sh') | indent(4) }}
