{#
Copyright 2023 New Vector Ltd

SPDX-License-Identifier: AGPL-3.0-or-later

#}

{% if components.sliding_sync | default(false) %}
{
    "org.matrix.msc3575.proxy": {
        "url": "https://{{ components.sliding_sync.k8s.ingress.fqdn }}"
    }
}
{% endif %}
