{#
Copyright 2023-2024 New Vector Ltd

SPDX-License-Identifier: AGPL-3.0-or-later

#}

{
{% if config.default_matrix_server is defined %}
  "default_server_config": {
      "m.homeserver": {
          "base_url": "{{ config.default_matrix_server.base_url }}",
          "server_name": "{{ config.default_matrix_server.server_name | default(config.default_matrix_server.base_url) }}"
      }
  },
{% endif %}
{% if config.additional | default("") | trim | length > 0 %}
  {{ config.additional }},
{% endif %}
  "dummy_end": "placeholder"
}
