{#
Copyright 2023-2024 New Vector Ltd

SPDX-License-Identifier: AGPL-3.0-or-later

#}

worker_processes  auto;

error_log  stderr warn;
pid        /tmp/nginx.pid;


events {
    worker_connections  1024;
}

http {
    client_body_temp_path /tmp/client_temp;
    proxy_temp_path       /tmp/proxy_temp_path;
    fastcgi_temp_path     /tmp/fastcgi_temp;
    uwsgi_temp_path       /tmp/uwsgi_temp;
    scgi_temp_path        /tmp/scgi_temp;

    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    server_tokens off;

    set_real_ip_from 0.0.0.0/0;
    real_ip_header X-Forwarded-For;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent"';

    access_log  /var/log/nginx/access.log  main;

    sendfile        on;
    #tcp_nopush     on;

    keepalive_timeout  65;

    server {
        listen       8080;

        add_header X-Frame-Options SAMEORIGIN;
        add_header X-Content-Type-Options nosniff;
        add_header X-XSS-Protection "1; mode=block";
        add_header Content-Security-Policy "frame-ancestors 'self'";
        add_header X-Robots-Tag "noindex, nofollow, noarchive, noimageindex";

        location / {
            root   /usr/share/nginx/html;
            index  index.html index.htm;

            charset utf-8;
        }

        location = /health {
            allow all;
            default_type 'application/json';
            return 200 '{"status": "ok"}';
        }

    }
}
