{#
Copyright 2023-2024 New Vector Ltd

SPDX-License-Identifier: AGPL-3.0-or-later

#}

apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    {{ _matrix_element_io_wellknowndelegation_spec.ingress.annotations | default({}) | to_nice_yaml(2) | indent(4) }}
  labels:
    app.kubernetes.io/part-of: matrix-stack
    app.kubernetes.io/component: matrix-delegation
    app.kubernetes.io/name: well-known
    app.kubernetes.io/instance: "{{ ansible_operator_meta.name }}-well-known"
    app.kubernetes.io/version: "{{ image.tag | default(image_tag) }}"
  name: "{{ ansible_operator_meta.name }}-well-known"
  namespace: "{{ ansible_operator_meta.namespace }}"
spec:
{% if ingress.tls_secret | default(false) %}
  tls:
  - hosts:
      - "{{ ingress.domain_name }}"
    secretName: "{{ ingress.tls_secret }}"
{% endif %}
{% if ingress.ingress_class_name | default(false) %}
  ingressClassName: "{{ ingress.ingress_class_name }}"
{% endif %}
  rules:
  - host: "{{ ingress.domain_name }}"
    http:
      paths:
      - path: /.well-known/matrix
        pathType: Prefix
        backend:
          service:
            name: "{{ ansible_operator_meta.name }}-well-known"
            port:
              number: 80
      - path: /.well-known/element
        pathType: Prefix
        backend:
          service:
            name: "{{ ansible_operator_meta.name }}-well-known"
            port:
              number: 80
