{#
Copyright 2023-2024 New Vector Ltd

SPDX-License-Identifier: AGPL-3.0-or-later

#}

apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/part-of: matrix-stack
    app.kubernetes.io/component: matrix-delegation
    app.kubernetes.io/name: well-known
    app.kubernetes.io/instance: "{{ ansible_operator_meta.name }}-well-known"
    app.kubernetes.io/version: "{{ image.tag }}"
  name: "{{ ansible_operator_meta.name }}-well-known-nginx"
  namespace: "{{ ansible_operator_meta.namespace }}"
data:
  nginx.conf: |-
    {{ nginx_config | indent(4) }}
