{#
Copyright 2023 New Vector Ltd

SPDX-License-Identifier: AGPL-3.0-or-later

#}

{{ lookup('template', 'templates/any/tls-secrets.yaml.j2', template_vars={'_tls_secret': 'wellknowndelegation-tls-secret'}) }}
