{#
Copyright 2023-2024 New Vector Ltd

SPDX-License-Identifier: AGPL-3.0-or-later

#}

apiVersion: v1
kind: Secret
metadata:
  name: {{ ansible_operator_meta.name }}-synapse-secrets
  namespace: "{{ ansible_operator_meta.namespace }}"
data:
  macaroon: "{{ _fetched_components_secrets[components.synapse.config.macaroon_secret_key] | b64encode }}"
  postgresPassword: "{{ _fetched_components_secrets[components.synapse.config.postgresql.password_secret_key] | b64encode }}"
  registrationSharedSecret: "{{ _fetched_components_secrets[components.synapse.config.registration_shared_secret_secret_key] | b64encode }}"
  signingKey: "{{ _fetched_components_secrets[components.synapse.config.signing_key_secret_key] | b64encode }}"
{% for worker in components.synapse.config.workers | default([]) %}
{% if worker.additional | length > 0 %}
  {{ worker.type }}.yaml: {{ worker.additional | from_yaml | to_nice_yaml(indent=2) | b64encode }}
{% endif %}
{% endfor %}
{% set _config_template_files = (query('fileglob', 'templates/synapse/bootstrap/*.yml.j2') + query('fileglob', 'templates/synapse/config/*.yml.j2')) | sort %}
{% set _additional_configs = query('template', *_config_template_files, convert_data=false) | select | map('trim') | select | map('from_yaml') %}
{% if _additional_configs | length > 0 %}
  shared.yaml: {{ {} | combine(_additional_configs, recursive=true) | to_nice_yaml(indent=2) | b64encode }}
{% endif %}
{% set _bootstrap_template_files = query('fileglob', 'templates/synapse/bootstrap/*.yml.j2') | sort %}
{% set _additional_bootstraps = query('template', *_bootstrap_template_files, convert_data=false) | select | map('trim') | select | map('from_yaml') %}
{% if _additional_bootstraps | length > 0 %}
  bootstrap.yaml: {{ {} | combine(_additional_bootstraps, recursive=true) | to_nice_yaml(indent=2) | b64encode }}
{% endif %}
