{#
Copyright 2023 New Vector Ltd

SPDX-License-Identifier: AGPL-3.0-or-later

#}

{{ lookup('template', 'synapse/service_monitor/synapse_service_monitor.yaml.j2', template_vars={'_subcomponent': 'synapse'}) }}
