{#
Copyright 2023 New Vector Ltd

SPDX-License-Identifier: AGPL-3.0-or-later

#}

{% if components.matrix_content_scanner | default(false) %}
{
  "content_scanner": {
    "enabled": true
  }
}
{% endif %}
