{#
Copyright 2023 New Vector Ltd

SPDX-License-Identifier: AGPL-3.0-or-later

#}

{% if components.element_web.config.additional_config | default(false) %}
{{ components.element_web.config.additional_config }}
{% endif %}
