{#
Copyright 2024 New Vector Ltd

SPDX-License-Identifier: AGPL-3.0-or-later

#}

{% if config.additional is defined %}
{{ config.additional }}
{% endif %}

{%- if 'shared.yaml' in _fetched_synapse_secrets[0].data -%}
{{ _fetched_synapse_secrets[0].data['shared.yaml'] | b64decode }}
{%- endif -%}
