{#
Copyright 2024 New Vector Ltd

SPDX-License-Identifier: AGPL-3.0-or-later

#}

{% if process_additional | length > 0 %}
{{ process_additional }}
{% endif %}

{%- if (process_type ~ '.yaml') in _fetched_synapse_secrets[0].data -%}
{{ _fetched_synapse_secrets[0].data[process_type ~ '.yaml'] | b64decode }}
{% endif %}
