{#
Copyright 2024 New Vector Ltd

SPDX-License-Identifier: AGPL-3.0-or-later

#}

public_baseurl: https://{{ ingress.domain_name }}
server_name: {{ config.server_name }}
signing_key_path: /secrets/signingKey
enable_metrics: true
log_config: "/config/log_config.yaml"
macaroon_secret_key: {{ _parsed_synapse_secrets.macaroon | to_json }}

# The default as of 1.27.0
ip_range_blacklist:
- '127.0.0.0/8'
- '10.0.0.0/8'
- '172.16.0.0/12'
- '192.168.0.0/16'
- '100.64.0.0/10'
- '192.0.0.0/24'
- '169.254.0.0/16'
- '192.88.99.0/24'
- '198.18.0.0/15'
- '192.0.2.0/24'
- '198.51.100.0/24'
- '203.0.113.0/24'
- '224.0.0.0/4'
- '::1/128'
- 'fe80::/10'
- 'fc00::/7'
- '2001:db8::/32'
- 'ff00::/8'
- 'fec0::/10'

{# This is still required despite media_storage_providers as otherwise Synapse attempts to mkdir /media_store #}
media_store_path: "/media/media_store"
{% if synapse_has['media-repository'] %}
media_instance_running_background_jobs: "media-repository-0"
{% endif %}



registration_shared_secret: {{ _parsed_synapse_secrets.registration_shared | to_json }}

{% if synapse_has['user-dir'] %}
update_user_directory_from_worker: user-dir-0
{% endif %}


{% if synapse_has['appservice'] %}
notify_appservices_from_worker: appservice-0
{% endif %}

{% if synapse_has['background'] %}
run_background_tasks_on: background-0
{% endif %}

instance_map:
  main:
    host: {{ ansible_operator_meta.name }}-synapse-main.{{ ansible_operator_meta.namespace }}.svc.cluster.local.
    port: 9093

send_federation: {{ not synapse_has['federation-sender'] }}
{% if synapse_has['federation-sender'] %}
federation_sender_instances:
{% for index in range(synapse_configured_workers['federation-sender'].instances) %}
- federation-sender-{{ index }}
{% endfor %}

{% endif %}
start_pushers: {{ not synapse_has['pusher'] }}
{% if synapse_has['pusher'] %}
pusher_instances:
{% for index in range(synapse_configured_workers['pusher'].instances) %}
- pusher-{{ index }}
{% endfor %}

{% endif %}
