{#
Copyright 2024 New Vector Ltd

SPDX-License-Identifier: AGPL-3.0-or-later

#}

{% if not (bootstrap | default(false)) %}
{% if synapse_appservices_registrations | length > 0 %}
app_service_config_files:
{% for as_registration in synapse_appservices_registrations %}
 - /as/{{ as_registration }}/registration.yaml
{% endfor %}
{% endif %}
{% endif %}
