{#
Copyright 2024 New Vector Ltd

SPDX-License-Identifier: AGPL-3.0-or-later

#}

{% if has_any_workers %}
redis:
  enabled: true
  host: "{{ ansible_operator_meta.name }}-synapse-redis.{{ ansible_operator_meta.namespace }}.svc.cluster.local"

presence:
  enabled: {{ not synapse_has['presence-writer'] }}

{% if synapse_stream_writer_worker_types | map('extract', synapse_has) | select('equalto', true) | list | length > 0 %}
instance_map:
{% for type in synapse_stream_writer_worker_types %}
{% for index in range(synapse_configured_workers[type].instances | default(0)) %}
  {{ type }}-{{ index }}:
    host: {{ ansible_operator_meta.name }}-synapse-{{ type }}-{{ index }}.{{ ansible_operator_meta.name }}-synapse-{{ type }}.{{ ansible_operator_meta.namespace }}.svc.cluster.local.
    port: 9093
{% endfor %}
{% endfor %}

stream_writers:
{% for type in synapse_stream_writer_worker_types %}
{% if (synapse_configured_workers[type].instances | default(0)) > 0 %}
{% for stream_writer in synapse_available_worker_types[type].stream_writers %}
{% if synapse_available_worker_types[type].single %}
  {{ stream_writer }}: {{ type }}-0
{% else %}
  {{ stream_writer }}:
{% for index in range(synapse_configured_workers[type].instances) %}
  - {{ type }}-{{ index }}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}


{% endif %}
{% endif %}
