{#
Copyright 2024 New Vector Ltd

SPDX-License-Identifier: AGPL-3.0-or-later

#}

{% if (bootstrap | default(false)) and 'bootstrap.yaml' in _fetched_synapse_secrets[0].data %}
{{ _fetched_synapse_secrets[0].data['bootstrap.yaml'] | b64decode }}
{% endif %}

