{#
Copyright 2024 New Vector Ltd

SPDX-License-Identifier: AGPL-3.0-or-later

#}

{% if components.well_known_delegation.config.additional_element_config | default(false) %}
{{ components.well_known_delegation.config.additional_element_config }}
{% endif %}
