{#
Copyright 2023-2024 New Vector Ltd

SPDX-License-Identifier: AGPL-3.0-or-later

#}

{% if components_k8s_properties.storage.volume.size | default(false)  %}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ ansible_operator_meta.name }}-{{ _component_item | regex_replace('_', '-') }}
  namespace: {{ ansible_operator_meta.namespace }}
spec:
{% if components_k8s_properties.storage.volume.storage_class_name | default(_global.k8s.storage.storage_class_name) | default(false) %}
  storageClassName: "{{ components_k8s_properties.storage.volume.storage_class_name | default(_global.k8s.storage.storage_class_name) }}"
{% endif %}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: "{{ components_k8s_properties.storage.volume.size }}"
{% endif %}
