{#
Copyright 2023 New Vector Ltd

SPDX-License-Identifier: AGPL-3.0-or-later

#}

{% if components_ingress_tls.mode | default('') == 'certfile' %}
apiVersion: v1
kind: Secret
metadata:
  name: {{ ansible_operator_meta.name }}-{{ _tls_secret }}
  namespace: "{{ ansible_operator_meta.namespace }}"
  labels:
    app.kubernetes.io/managed-by: element-updater
  annotations:
{% if components_k8s_properties.common.annotations | combine(_global.k8s.common.annotations) | length > 0 %}
    {{ components_k8s_properties.common.annotations | combine(_global.k8s.common.annotations) | to_nice_yaml(indent=2) | indent(4) }}
{% endif %}
type: kubernetes.io/tls
data:
  tls.crt: {{ _fetched_components_secrets[components_ingress_properties.tls.certificate.cert_file_secret_key] | b64encode }}
  tls.key: {{ _fetched_components_secrets[components_ingress_properties.tls.certificate.private_key_secret_key] | b64encode }}
{% endif %}
