{#
Copyright 2023 New Vector Ltd

SPDX-License-Identifier: AGPL-3.0-or-later

#}

apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/managed-by: element-operator
    app.kubernetes.io/name: synapse-{{ process_type }}
    app.kubernetes.io/instance: "{{ ansible_operator_meta.name }}-synapse-{{ process_type }}"
    app.kubernetes.io/part-of: matrix-stack
    app.kubernetes.io/component: matrix-server
    app.kubernetes.io/version: "{{ image.tag }}"
    k8s.element.io/crdhash: "{{ crd_spec_hash }}"
  name: "{{ ansible_operator_meta.name }}-synapse-{{ process_type }}"
  namespace: "{{ ansible_operator_meta.namespace }}"
data:
  instance_template.yaml: |-
    {{ specific_worker_yaml | indent(4) }}
