{#
Copyright 2023-2024 New Vector Ltd

SPDX-License-Identifier: AGPL-3.0-or-later

#}

---
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: synapse-haproxy
    app.kubernetes.io/instance: "{{ ansible_operator_meta.name }}-synapse-haproxy"
    app.kubernetes.io/part-of: matrix-stack
    app.kubernetes.io/component: matrix-server-ingress
    app.kubernetes.io/version: "{{ image.haproxy_tag | default(haproxy_image_tag) }}"
  name: "{{ ansible_operator_meta.name }}-synapse-haproxy"
  namespace: "{{ ansible_operator_meta.namespace }}"
spec:
  type: "{{ service.type | default('ClusterIP', true) }}"
  ports:
  - name: haproxy-http
    port: 8008
    targetPort: haproxy-http
  - name: haproxy-403
    port: 8009
    targetPort: haproxy-403
  selector:
    app.kubernetes.io/instance: "{{ ansible_operator_meta.name }}-synapse-haproxy"
