{#
Copyright 2024 New Vector Ltd

SPDX-License-Identifier: AGPL-3.0-or-later

#}

apiVersion: v1
kind: Secret
metadata:
  labels:
    app.kubernetes.io/name: synapse-{{ process_type }}
    app.kubernetes.io/instance: "{{ ansible_operator_meta.name }}-synapse-{{ process_type }}"
    app.kubernetes.io/part-of: matrix-stack
    app.kubernetes.io/component: matrix-server
    app.kubernetes.io/version: "{{ image.tag }}"
  name: "{{ ansible_operator_meta.name }}-synapse-{{ process_type }}"
  namespace: "{{ ansible_operator_meta.namespace }}"
data:
{% set _secrets_template_files = query('fileglob', 'templates/secrets/*.yaml.j2') | sort %}
{% set _config_secrets = query('template', *_secrets_template_files, convert_data=false) | select | map('trim') | select | map('from_yaml') %}
{% if _config_secrets | length > 0 %}
  instance_template.yaml: {{ {} | combine(_config_secrets, recursive=true) | to_nice_yaml(indent=2) | b64encode }}
{% endif %}
  log_config.yaml: {{ log_config_yaml | b64encode }}
