{#
Copyright 2023 New Vector Ltd

SPDX-License-Identifier: AGPL-3.0-or-later

#}

{% if components.synapse.config.additional | default(false) %}
{{ components.synapse.config.additional | from_yaml | to_nice_yaml(indent=2) }}
{% endif %}
