{#
Copyright 2023 New Vector Ltd

SPDX-License-Identifier: AGPL-3.0-or-later

#}

worker_app: synapse.app.homeserver

database:
  name: psycopg2
  args:
    user: {{ config.database.user }}
    password: {{ _parsed_synapse_secrets.database_password | to_json }}
    database: {{ config.database.name }}
    host: {{ config.database.host }}
    port: {{ config.database.port }}
    cp_min: 5
    cp_max: 10
    application_name: REPLACE_HOSTNAME
    sslmode: {{ config.database.sslmode }}
    keepalives: 1
    keepalives_idle: 10
    keepalives_interval: 10
    keepalives_count: 3

{% if process_additional | length > 0 %}
{{ process_additional }}
{% endif %}
