{#
Copyright 2024 New Vector Ltd

SPDX-License-Identifier: AGPL-3.0-or-later

#}

{% if component_k8s_service_monitor_deploy %}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ ansible_operator_meta.name }}-synapse-haproxy
  namespace: "{{ ansible_operator_meta.namespace }}"
spec:
  endpoints:
  - interval: 30s
    port: haproxy-metrics
  selector:
    matchLabels:
      app.kubernetes.io/managed-by: element-operator
      app.kubernetes.io/part-of: matrix-stack
      app.kubernetes.io/component: matrix-server-ingress
      app.kubernetes.io/instance: {{ ansible_operator_meta.name }}-synapse-haproxy
{% endif %}
