{#
Copyright 2023-2024 New Vector Ltd

SPDX-License-Identifier: AGPL-3.0-or-later

#}

LogVerbose yes
LogClean yes
LogTime yes
PidFile /run/clamav/clamd.pid
TCPSocket 3310
LocalSocket /tmp/clamd.sock
