{#
Copyright 2023 New Vector Ltd

SPDX-License-Identifier: AGPL-3.0-or-later

#}

web:
  host: 0.0.0.0
  port: {{ _matrix_content_scanner_web_port }}

scan:
  script: "/data/virusScan.sh"
  temp_directory: "/tmp"
{% if 'allowed_mimetypes' in config.scanning | default({}) %}
  allowed_mimetypes: {{ config.scanning.allowed_mimetypes | to_json }}
{% endif %}

{% if 'caching' in config %}
result_cache:
{% if 'max_size' in config.caching %}
  max_size: {{ config.caching.max_size }}
{% endif %}
{% if 'ttl' in config.caching %}
  ttl: {{ config.caching.ttl }}
{% endif %}
{% if 'max_file_size' in config.caching %}
  max_file_size: {{ config.caching.max_file_size }}
{% endif %}
{% endif %}

download:
  base_homeserver_url: {{ config.matrix_server.base_url }}
{% if config.download.additional_headers | default({}) | length > 0 %}
  additional_headers:
    {{ config.download.additional_headers | to_nice_yaml(indent=2) | indent(6) }}
{% endif %}

crypto:
  pickle_path: "/pickle/key"
  pickle_key: "/secrets/pickleKeyPassword"
