{#
Copyright 2023 New Vector Ltd

SPDX-License-Identifier: AGPL-3.0-or-later

#}

DatabaseOwner clamav
LogVerbose false
LogSyslog false
LogFacility LOG_LOCAL6
LogFileMaxSize 0
LogRotate true
LogTime true
Foreground false
Debug false
MaxAttempts 5
DatabaseDirectory /var/lib/clamav
DNSDatabaseInfo "{{ config.clam_anti_virus.freshclam.dns_database_info }}"
ConnectTimeout 30
ReceiveTimeout 0
TestDatabases yes
ScriptedUpdates yes
CompressLocalDatabase no
SafeBrowsing false
Bytecode true
NotifyClamd /etc/clamav/clamd.conf
# Check for new database 24 times a day
Checks 24
{% for mirror in config.clam_anti_virus.freshclam.database_mirrors %}
DatabaseMirror {{ mirror }}
{% endfor %}

{% if config.clam_anti_virus.freshclam.proxy | default(false) %}
{% if config.clam_anti_virus.freshclam.proxy.username | default(false) %}
HTTPProxyUsername {{ config.clam_anti_virus.freshclam.proxy.username }}
HTTPProxyPassword {{ _fetched_matrix_content_scanner_secrets.resources[0].data['proxyPassword'] | b64decode }}
HTTPProxyServer {{ config.clam_anti_virus.freshclam.proxy.server }}
HTTPProxyPort {{ config.clam_anti_virus.freshclam.proxy.port }}
{% endif %}
{% endif %}
