{#
Copyright 2023-2024 New Vector Ltd

SPDX-License-Identifier: AGPL-3.0-or-later

#}

apiVersion: v1
kind: Secret
metadata:
  name: {{ ansible_operator_meta.name }}-sliding-sync-secrets
  namespace: "{{ ansible_operator_meta.namespace }}"
data:
  SYNCV3_SECRET: {{ _fetched_components_secrets[components.sliding_sync.config.sync_secret_secret_key] | b64encode }}
  POSTGRES_PASSWORD: {{ _fetched_components_secrets[components.sliding_sync.config.postgresql.password_secret_key] | b64encode }}
