{#
Copyright 2023 New Vector Ltd

SPDX-License-Identifier: AGPL-3.0-or-later

#}

{
{% if config.federation is defined %}
  "m.server": "{{ config.federation.endpoint }}"{% if config.federation.additional is defined %},
  {{ config.federation.additional }}
  {% endif %}
{% endif %}
}
